.darkBG {
	background: #999;
}

.darkerBG {
	background: #666;
}

.darkestBG {
	background: #333;
}

.jumbotron {
	padding: 10px;
	margin-bottom: 10px;
}

.set {
	margin-top: 20px;
	margin-bottom: 25px;
}

.col-centered{
    float: none;
    margin: 0 auto;

}

p {
	font-family: 'Raleyway', sans-serif;
}

.btn-block {
}

h1 {
	font-family: 'Raleway', sans-serif;
}

button {
	background: #999;
	padding: 20px;
	margin: 5px;
	font-size: 200%;
	font-family: 'Raleway', sans-serif;
	border-radius: 5px;
	align-content: center;
}

#wrapper {
	width: 929px;
	margin: 0 auto;
}

* {box-sizing:border-box;}

body { margin: 0; background:#222; }

ul {
	height: 18.875em; 
	width: 62em;
	margin: 5em auto; 
	padding: 3em 0 0 3em;
	position: relative;
	border: 1px solid #160801;
	border-radius: 1em;
	background: maroon;
}

li {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	float: left;
}

ul .white {
	height: 16em; width: 4em;
	z-index: 1;
	border-left: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	border-right: 1px solid #bbb;
	border-radius: 0 0 5px 5px;
	background: white;
}

ul .white:active {
	border-top:1px solid #777;
	border-left:1px solid #999;
	border-bottom:1px solid #999;
	box-shadow:2px 0 3px rgba(0,0,0,0.1) inset, -5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
	background: linear-gradient(top, #fff 0%,#e9e9e9 100%);
}

ul .black {
	height: 8em;
	width: 2em;
	margin: 0 0 0 -1em;
	z-index: 2;
	border: 1px solid #000;
	border-radius: 0 0 3px 3px;
	box-shadow: -1px -1px 2px rgba(255,255,255,0.2) inset, 0 -5px 2px 3px rgba(0,0,0,0.6) inset, 0 2px 4px rgba(0,0,0,0.5);
	background: linear-gradient(45deg, #222 0%,#555 100%);
}

.black:active {
	box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -2px 2px 3px rgba(0,0,0,0.6) inset, 0 1px 2px rgba(0,0,0,0.5);
	background:linear-gradient(left, #444 0%,#222 100%);
}

ul .highlighted {
	border: 5px solid yellow;
}

ul .highlighted:active {
	border: 5px solid yellow;
}

.g,.a,.b,.d,.e { margin:0 0 0 -1em; }

ul li:first-child { border-radius:5px 0 5px 5px; }
ul li:last-child { border-radius:0 5px 5px 5px; }

.btn-block {
	font-family: "Raleway", sans-serif;
	width: 10em;
	position: relative;
	margin: 0 auto;
	padding: 5px;
	border: 5px maroon;
	border-radius: 5px;
	background: #ccc;
	color: black;
	font-size: 1em;
}


.chordbox {
	color: white;
	text-align: center;
	font-size: 4em;
	margin-top: 1.5em;
}











